<%= form_for(@clone, url: choose_new_or_edit) do |f| %>
  <% if @clone.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@clone.errors.count, "error") %> prohibited this article from being saved:</h2>

       <ul>
         <% @clone.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
         <% end %>
       </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :contents %><br>
    <%= f.text_area :contents %>
  </div>
  <div class="actions">
    <%=f.submit 'next!' %>
  </div>
    <% end %>
  