<!DOCTYPE html>
<html>
  <head>
    <title>TwClone</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-primary ">
      <ul>
        <li><%= link_to '#ãƒˆãƒƒãƒ—ãƒšãƒ¼ã‚¸', clones_path %></li>
      </ul>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <nav class="navbar navbar-default">
  ã€€<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ãƒ¡ãƒ‹ãƒ¥ãƒ¼</a>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
          <li><%= link_to 'ãƒ„ã‚¤ãƒ¼ãƒˆä¸€è¦§ðŸ“–', clones_path%></li>
          <li><%= link_to 'ã¤ã¶ã‚„ãðŸ–‹', new_clone_path %></li>
          <li><%= link_to "ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ðŸ˜ƒ", user_path(current_user.id)%></li>
          <li><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆðŸšª",session_path(current_user.id), method: :delete %></li>
        <% else %>
          <li><%=link_to "ç™»éŒ²ðŸ“„", new_user_path %></li>
          <li><%=link_to "ãƒ­ã‚°ã‚¤ãƒ³ðŸ”‘", new_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
    
    <%= yield %>
    <footer class="bg-primary">
      <p>å¤§èª²é¡Œï¼‘</p>
      <p>Â© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
    </footer>
    
  </body>
</html>
